# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    cooldown:
      semver-major-days: 30
      semver-minor-days: 14
      semver-patch-days: 7
    groups:
      linters:
        patterns:
          - "*eslint*"
          - "*prettier*"
      typescript:
        patterns:
          - "typescript"
      dependencies:
        dependency-type: "production"
      dev-dependencies:
        dependency-type: "development"
        exclude-patterns:
          - "typescript"
          - "*eslint*"
          - "*prettier*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
