name: CI
on:
  push:
    branches:
      - main
  pull_request:

permissions: write-all

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Run unit tests
        run: pnpm test -- --ci

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Lint files
        run: pnpm lint

      - name: Check formatting
        run: pnpm prettier:check

  types:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Check types
        run: pnpm tsc

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: ./.github/actions/setup-node-env

      - name: Build package
        run: pnpm build
